# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan

# Ignore override variable files
override.tf

# Ignore provider plugin files
.terraform/

# Ignore variable files containing sensitive information
*.auto.tfvars
*.auto.tfvars.json

# Ignore log files
terraform.log

# Ignore crash log files
crash.log
